#form-btn{
	@include position(fixed, null 0 -10px null);
	z-index: 1000;
	width: 5vw;
	height: auto;
	cursor: pointer;
	@include transition(opacity .45s ease-in-out);
}
#contact-form{
	width: 100vw;
	height: 100vh; 
	overflow: hidden;

	background-color:rgba(0,0,0,0.8);

	.form-container{
		position:relative;
		width:100%;
		height:100%;

		.container{
			width:60vw;
			background: white;
			padding: 50px 0px;
			z-index: 100;

			.mktoForm{
				margin: 0 auto;
				width: 80%!important;
				.mktoLabel, label{
					color:$gray;
				}
			}
			.mktoButtonRow{
				width: 100%;

				.mktoButtonWrap{
					margin: 0 auto;
					margin-left: auto!important;
					width:100%;

					.mktoButton{
						width:100%;
					}
				}
			}
		}	
	}
}

#contact-close-trigger{
	width: 100vw;
	height: 100vh; 
	overflow: hidden;
	background: transparent;
	@include position(absolute, 50% null null 50%);
	@include transform(translate(-50%, -50%));
}
