header{
	width: 100%;
	min-height: 60px;
	height: 6.25vh;
	background: white;

	@include media($lg-desktop){
		height: 100px;
	}
	@include media($xl-desktop){
		height: 100px;
	}

	.header-container{
		height: 100%;
		position: relative;
		
		.menu-blocker{
			width: 50%;
    		height: 100%;
    		z-index: -1;

    		&.is-blocking{
    			z-index: 3000;
    		}
    
		}
		#logo{
			min-width: 114px;
			width: 7vw;
			min-height: 40px;
			height: 3.45vh;
			background-image: url('../images/medicity-logo.svg');
			background-size: cover;
			@include transition(all .6s ease-in-out);

			@include media($lg-desktop){
				width: 199px;
				height: 70px;
			}
			@include media($xl-desktop){
				width: 199px;
				height: 70px;
			}

		}

		// a.takeaway-exit{
		// 	.icon-back{
		// 		svg {
		// 		    fill: $orange!important;
		// 		}	
		// 	}
		// }

		a.demo-exit, a.takeaway-exit {
		    @include transition(opacity .6s ease-in,background .15s ease-out, border-color .15s ease-out,fill .15s ease-out,rotate .1s ease-in,color .15s ease-out,transform .6s ease-in);
		    display: block;
		    width: 100%;
		    opacity: 0;
		    pointer-events: none;

		    &:before, &:after {
		    	content: " ";
    			display: table;
			    clear: both;
			}

		    .icon-x, .icon-back {
			    width: 46px;
			    height: 46px;
			    border: solid 2px $gray;
			    border-radius: 50%;
			    display: inline-block;
			    vertical-align: middle;
			    text-align: center;
			    position: relative;

			    svg {
				    fill: $blue;
				    width: 18px;
				}
			}

			span {
			    display: inline-block;
			    text-transform: uppercase;
			    vertical-align: middle;
			    font-family: Arial, sans-serif;
			    font-weight: 700;
			    line-height: 46px;
			    margin-left: 10px;
			    font-size: 22px;
			    color:$gray;
			}
		}

	}
}