@import "../mixins/keyframes";
#map-container{
	height:100%;
	position: relative;
	padding-top: 5%;

	#stage-info{
		width: 16%;
		height: 75%;
		display: inline-block;
		position: relative;

		.stage-info{
			@include position(absolute, 20% null null 0);
			opacity:0;
			z-index:-1;
			// @include transition(all 1s ease-in-out);
			// @include transition-delay(.5s);

			&.is-active-info{
				@include position(absolute, 15% null null 0);
				opacity:1;
				z-index:1;
				@include animation(slideInfoIn 1s ease-in-out);
			    @include animation-fill-mode(forwards);
			}

			.stage-number{
				display: block;
				margin-bottom: 15px;
			}

			.stage-title{
				display: block;
				margin-bottom: 15px;
			}

			div.underline{
				width:4vw;
				height:4px;
				background: $blue;
				margin-left: 2px;
			}
		}
	}

	#stages{
		width: 100%;
	    height: 80%;
	 	@include perspective(1000px);
	 	@include position(absolute, 0 0 0 0);
		
		.stages-container{
			width: 85%;
		    height: 100%;
		    display: inline-block;
		    overflow: hidden;
		    @include transform(rotateY(-40deg) translateX(-80%) translateY(-40%));
		    transform-style: preserve-3d;
		    @include transition(all .65s $ease-in-out-quad);

		    &.eight-stage-pos{
				@include transform(rotateY(-40deg) translateX(-80%) translateY(-50%) translateZ(-700px));
				&:hover{
					@include transform(rotateY(-40deg) translateX(-78%) translateY(-50%) translateZ(-600px)!important);
				}
			}
		    &.seven-stage-pos{
				@include transform(rotateY(-40deg) translateX(-80%) translateY(-50%) translateZ(-600px));
				&:hover{
					@include transform(rotateY(-40deg) translateX(-78%) translateY(-50%) translateZ(-600px)!important);
				}
			}
			&.six-stage-pos{
				@include transform(rotateY(-40deg) translateX(-80%) translateY(-50%) translateZ(-500px));
				&:hover{
					@include transform(rotateY(-40deg) translateX(-78%) translateY(-50%) translateZ(-500px)!important);
				}
			}
			&.five-stage-pos{
				@include transform(rotateY(-40deg) translateX(-80%) translateY(-50%) translateZ(-400px));
				&:hover{
					@include transform(rotateY(-40deg) translateX(-78%) translateY(-50%) translateZ(-400px)!important);
				}
			}
		    &.four-stage-pos{
				@include transform(rotateY(-40deg) translateX(-80%) translateY(-50%) translateZ(-300px));
				&:hover{
					@include transform(rotateY(-40deg) translateX(-78%) translateY(-50%) translateZ(-300px)!important);
				}
			}
			&.three-stage-pos{
				@include transform(rotateY(-40deg) translateX(-80%) translateY(-50%) translateZ(-200px));
				&:hover{
					@include transform(rotateY(-40deg) translateX(-78%) translateY(-50%) translateZ(-200px)!important);
				}
			}
			&.two-stage-pos{
				@include transform(rotateY(-40deg) translateX(-80%) translateY(-50%) translateZ(-100px));
				&:hover{
					@include transform(rotateY(-40deg) translateX(-78%) translateY(-50%) translateZ(-100px)!important);
				}
			}
			&.one-stage-pos{
				@include transform(rotateY(-40deg) translateX(-80%) translateY(-50%) translateZ(0px));
				&:hover{
					@include transform(rotateY(-40deg) translateX(-78%) translateY(-50%) translateZ(0px)!important);
				}
			}

			&.flat-stage-pos{
				width: 65%;
    			height: 80%;
				@include transform(rotateY(0deg) translateX(-40%) translateY(-50%) translateZ(0px));
			}

			&.no-stage-pos{
				@include transform(rotateY(-40deg) translateX(-80%) translateY(-100%) translateZ(0px));
				opacity:0;
			}

			.stage{
				width: 100%;
				height: 100%;
				background: $transBlue;
				border: 1px solid $altblue;
				opacity: .65;
				position: relative;

				&:before{
					content:'';
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					background: $gray;
					opacity:.85;
					z-index: 100;

				}

				svg{
					width:80%;
					@include transform(rotateY(-10deg) translateX(-50%) translateY(-50%));
				}

				&.top-layer{
					opacity:1!important;
					background: $transBlue2;

					&:before{
						background: transparent!important;
					}
				}
			}	
		}
		
	}
	
}
