.absolute-right{
	@include position(absolute, 50% 0 null null);
	@include transform(translateY(-50%));
}

.absolute-left{
	@include position(absolute, 50% null null 0);
	@include transform(translateY(-50%));
}

.absolute-center{
	@include position(absolute, 50% null null 50%);
	@include transform(translate(-50%, -50%));
}
.no-focus{
	&:focus{
		outline: none!important; 
	    background: none!important;
	    border:0!important;	
	}
}

.is-active{
	display: inherit;
	opacity: 1!important;
	@include transition(all .5s ease-in-out);
}
.is-inactive{
	display: none;
	opacity: 0;
	@include transition(all .5s ease-in-out);
}
.is-visible{
	visibility: visible;
	@include transition(all .5s ease-in-out);
}
.is-hidden{
	opacity:0;
}

.hide {
    display: none!important;
}

.is-scrollable{
	overflow:auto!important;
}

.is-not-scrollable{
	overflow:hidden!important;
}


.is-previous-section{
	@include transform(translateX(-100vw)!important);
	// z-index: -3000!important;
	@include transition(all 1.25s $ease-in-out-quart);
}
.is-current-section{
	@include transform(translateX(0)!important);
	@include transition(all 1.25s $ease-in-out-quart);
}
.is-next-section{
	@include transform(translateX(100vw)!important);
	@include transition(all 1.25s $ease-in-out-quart);
}

// .is-previous-section{
// 	@include transform(translateY(50%)!important);
// 	opacity: 0;
// 	z-index: 0;
// 	// z-index: -3000!important;
// 	@include transition(all 1.25s $ease-in-out-quart);
// }
// .is-current-section{
// 	@include transform(translateY(0)!important);
// 	opacity: 1;
// 	z-index: 1;
// 	@include transition(all 1.25s $ease-in-out-quart);
// 	@include transition-delay(.75s);
// }
// .is-next-section{
// 	@include transform(translateY(50%)!important);
// 	opacity: 0;
// 	z-index: 0;
// 	@include transition(all 1.25s $ease-in-out-quart);
// }



.is-scrollable{
	overflow-y: auto!important;
}

.is-active-circle{
	fill: $lightblue;
	@include transition(fill .5s ease-in-out);
}
