
// Colors

  // Opaque
  
  $blue: #2985ae;
  $lightblue: #70BEE0;
  $gray: #2f2f2f;
  $lightgray: #949494;
  $darkblue: #254650;
  $green: #46879C;


  // Translucent
  
  $transBlue: rgba(154,185,225,0.05);
  $transBlue2: rgba(154,185,225,0.15);
  // $transBlue: rgba(173, 182, 193, 0.1);
  $altblue: #9ab9e1;